@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 min-h-screen overflow-hidden selection:bg-indigo-500/30;
  }
}